.main{
    width: calc(100% - 363px);
    border: solid 1px greenyellow;
    margin-left: 206px;
    padding-top: 26px;
}
.card__container{
    width: 100%;
    margin-top: 24px;
    border: solid 1px rgb(34, 179, 223);
}