.card {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.card__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  height: 100%;
  width: 71.8%;
}
.card-not-dangerous {
  background: linear-gradient(90deg, #cff37d 0%, #7de88c 100%);
}
.card-dangerous {
  background: linear-gradient(90deg, #ffb199 0%, #ff0844 100%);
}
.card:first-child {
  margin-top: 0;
}
.card__name {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-decoration-line: underline;
  margin: 0 0 16px 0;
}
.card__info-conteiner {
  width: 289px;
  z-index: 3;
}
.card__text {
  width: 100%;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.card__dashed {
  border-bottom: 1px dashed #000000;
  transform: rotate(-0.01deg);
  flex: 1 0;
  height: 1em;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
}
.card__container-button {
  width: 28.2%;
  margin-right: 24px;
}
.card__button-text {
  width: 158px;
  margin: auto;
  margin-right: 0;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.card__estimate {
  text-align: center;
  margin: 0;
}
.button {
  margin: auto;
  background: #186dd6;
  border-radius: 24px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;
  padding: 14px 16px;
  margin-top: 8px;
  display: block;
  margin-top: 8px;
  margin-right: 0;
}
.card__image-conteiner {
  position: relative;
  height: 100%;
  width: 235px;
}
.card__dinosaur {
  width: 56px;
  height: 48px;
  position: absolute;
  bottom: 0;
  left: 16px;
}
.card__asteroid {
  position: absolute;
  top: 28px;
  left: 122px;
}
.card__asteroid-mid {
  position: absolute;
  top: 0;
  left: 72px;
}
.card__asteroid-dig {
  position: absolute;
  z-index: 1;
  top: 0;
}
@media screen and (max-width: 900px) {
  .card__asteroid {
    left: 80px;
  }
  .card__asteroid-mid {
    left: 52px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    height: 330px;
    padding-bottom: 15px;
  }
  .card__link {
    width: 100%;
    height: 190px;
  }
  .card__image-conteiner {
    height: 100%;
    width: 170px;
    align-self: flex-start;
  }
  .card__info-conteiner {
    width: 230px;
    margin: 40px auto 0;
    align-self: flex-start;
  }
  .card__container-button {
    width: 40%;
  }
}
@media screen and (max-width: 414px) {
  .card {
    width: 100%;
  }
}
.mobile-card {
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 10px;
  margin-bottom: 16px;
}
.mobile-card:last-child {
  margin-bottom: 0;
}
.mobile-card__link {
  text-decoration: none;
  color: #000000;
}
.mobile-card__img {
  position: relative;
}
.mobile-card__container {
  width: 100%;
  height: 145px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}
.mobile__name {
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin: 0;
  width: 240px;
}
.mobile-card__dino {
  height: 30px;
  width: 35px;
  align-self: flex-end;
  margin-right: 8px;
}
.mobile-card__info-conteiner {
  margin-top: 16px;
  max-width: 255px;
}
.mobile-card__container-button {
  width: 158px;
  margin: auto;
  margin-top: 16px;
  padding-bottom: 22px;
}
.mobile__asteroid {
  position: absolute;
  top: 22px;
  left: 27px;
}
.mobile__asteroid-mid {
  position: absolute;
  top: 0;
  left: 27px;
}
.mobile__asteroid-dig {
  position: absolute;
  top: 0;
}
